In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [2]:
# Store the CSV file you saed in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cherskiy,RU,2021-08-01 00:34:58,68.7500,161.3000,279.04,91,100,5.31
1,1,Katsuura,JP,2021-08-01 00:34:58,35.1333,140.3000,303.23,72,3,3.82
2,2,Tuktoyaktuk,CA,2021-08-01 00:34:58,69.4541,-133.0374,292.15,68,75,3.09
3,3,Vaini,TO,2021-08-01 00:34:59,-21.2000,-175.2000,298.24,73,20,10.80
4,4,Dalvik,IS,2021-08-01 00:34:59,65.9702,-18.5286,283.11,69,100,0.93

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [18]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=500, point_radius=3)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of humidity
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
humidity = city_data_df["Humidity"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of cloudiness
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
cloudiness = city_data_df["Cloudiness"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of wind speed
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
wind_speed = city_data_df["Wind Speed"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 290
What is the maximum temperature you would like for your trip? 295

In [30]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Tuktoyaktuk,CA,2021-08-01 00:34:58,69.4541,-133.0374,292.15,68,75,3.09
6,6,Saint-Philippe,RE,2021-08-01 00:35:00,-21.3585,55.7679,291.90,83,39,5.20
28,28,Port Alfred,ZA,2021-08-01 00:35:08,-33.5906,26.8910,291.56,30,68,4.02
30,30,Cap Malheureux,MU,2021-08-01 00:35:09,-19.9842,57.6142,294.52,74,0,2.68
34,34,Arraial Do Cabo,BR,2021-08-01 00:35:10,-22.9661,-42.0278,292.25,64,100,5.55
37,37,Xining,CN,2021-08-01 00:35:11,36.6167,101.7667,291.16,55,4,1.03
46,46,Rikitea,PF,2021-08-01 00:35:14,-23.1203,-134.9692,294.56,71,13,5.44
48,48,Chicama,PE,2021-08-01 00:35:14,-7.8447,-79.1469,290.45,82,41,3.33
49,49,Khatanga,RU,2021-08-01 00:35:14,71.9667,102.5000,293.32,60,100,2.82
68,68,Barcelona,ES,2021-08-01 00:33:22,41.3888,2.1590,293.13,90,0,0.45

In [31]:
preferred_cities_df.count()

City_ID       105
City          105
Country       104
Date          105
Lat           105
Lng           105
Max Temp      105
Humidity      105
Cloudiness    105
Wind Speed    105
dtype: int64

In [34]:
preferred_cities_df = preferred_cities_df.dropna()

In [35]:
preferred_cities_df.count()

City_ID       104
City          104
Country       104
Date          104
Lat           104
Lng           104
Max Temp      104
Humidity      104
Cloudiness    104
Wind Speed    104
dtype: int64

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]= ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2       Tuktoyaktuk      CA    292.15  69.4541 -133.0374
6    Saint-Philippe      RE    291.90 -21.3585   55.7679
28      Port Alfred      ZA    291.56 -33.5906   26.8910
30   Cap Malheureux      MU    294.52 -19.9842   57.6142
34  Arraial Do Cabo      BR    292.25 -22.9661  -42.0278
37           Xining      CN    291.16  36.6167  101.7667
46          Rikitea      PF    294.56 -23.1203 -134.9692
48          Chicama      PE    290.45  -7.8447  -79.1469
49         Khatanga      RU    293.32  71.9667  102.5000
68        Barcelona      ES    293.13  41.3888    2.1590

In [38]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [40]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [41]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Tuktoyaktuk,CA,292.15,69.4541,-133.0374,End of The Road Ltd.
6,Saint-Philippe,RE,291.90,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
28,Port Alfred,ZA,291.56,-33.5906,26.8910,The Halyards Hotel
30,Cap Malheureux,MU,294.52,-19.9842,57.6142,Pereybere Hotel & Spa
34,Arraial Do Cabo,BR,292.25,-22.9661,-42.0278,Pousada Porto Praia
37,Xining,CN,291.16,36.6167,101.7667,Super Leisure Hotel
46,Rikitea,PF,294.56,-23.1203,-134.9692,People ThankYou
48,Chicama,PE,290.45,-7.8447,-79.1469,Balihai Bungalows
49,Khatanga,RU,293.32,71.9667,102.5000,"Gostinitsa ""Zapolyar'ye"""
68,Barcelona,ES,293.13,41.3888,2.1590,Axel Hotel Barcelona

In [44]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [45]:
# Add a heatmap of temperature for the vacation spots
# Get the latitude and longitude
locations = hotel_df[["Lat", "Lng"]]
# Get the maximum temperature
max_temp = hotel_df["Max Temp"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add the heatmap layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))