## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Malanje,AO,-9.5402,16.3410,87.71,12,0,2.75,clear sky
1,1,Kavaratti,IN,10.5669,72.6420,82.62,82,100,16.75,overcast clouds
2,2,Bonavista,CA,48.6499,-53.1147,64.18,61,43,3.13,scattered clouds
3,3,Tiksi,RU,71.6872,128.8694,39.96,91,53,8.68,broken clouds
4,4,New Norfolk,AU,-42.7826,147.0587,53.10,65,100,5.01,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Malanje,AO,-9.5402,16.3410,87.71,12,0,2.75,clear sky
1,1,Kavaratti,IN,10.5669,72.6420,82.62,82,100,16.75,overcast clouds
5,5,Pathein,MM,16.7833,94.7333,79.03,90,100,10.29,overcast clouds
6,6,Nicoya,CR,10.1483,-85.4520,87.35,71,47,3.20,scattered clouds
11,11,Shimoda,JP,34.6667,138.9500,77.11,86,18,8.68,few clouds
16,16,Ribeira Grande,PT,38.5167,-28.7000,79.20,73,40,16.11,scattered clouds
19,19,Nyzhnya Duvanka,UA,49.5846,38.1743,80.02,40,100,5.08,overcast clouds
20,20,Cabo San Lucas,MX,22.8909,-109.9124,88.61,61,75,11.50,broken clouds
22,22,Vavoua,CI,7.3819,-6.4778,83.57,58,88,6.53,overcast clouds
25,25,Faanui,PF,-16.4833,-151.7500,78.85,71,26,10.22,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                236
City                   236
Country                234
Lat                    236
Lng                    236
Max Temp               236
Humidity               236
Cloudiness             236
Wind Speed             236
Current Description    236
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Malanje,AO,87.71,clear sky,-9.5402,16.3410,
1,Kavaratti,IN,82.62,overcast clouds,10.5669,72.6420,
5,Pathein,MM,79.03,overcast clouds,16.7833,94.7333,
6,Nicoya,CR,87.35,scattered clouds,10.1483,-85.4520,
11,Shimoda,JP,77.11,few clouds,34.6667,138.9500,
16,Ribeira Grande,PT,79.20,scattered clouds,38.5167,-28.7000,
19,Nyzhnya Duvanka,UA,80.02,overcast clouds,49.5846,38.1743,
20,Cabo San Lucas,MX,88.61,broken clouds,22.8909,-109.9124,
22,Vavoua,CI,83.57,overcast clouds,7.3819,-6.4778,
25,Faanui,PF,78.85,scattered clouds,-16.4833,-151.7500,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Malanje,AO,87.71,clear sky,-9.5402,16.3410,Malanje Hotel
1,Kavaratti,IN,82.62,overcast clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
5,Pathein,MM,79.03,overcast clouds,16.7833,94.7333,New Pammawaddy Hotel
6,Nicoya,CR,87.35,scattered clouds,10.1483,-85.4520,Guayacan Real
11,Shimoda,JP,77.11,few clouds,34.6667,138.9500,Shimoda Tokyu Hotel
...,...,...,...,...,...,...,...
579,Behshahr,IR,83.08,scattered clouds,36.6923,53.5526,Abbas Abad Hotel & Restaurant
580,Padang,ID,77.05,overcast clouds,-0.9492,100.3543,Mercure Padang
581,Naples,IT,83.52,scattered clouds,40.8333,14.2500,Renaissance Naples Hotel Mediterraneo
588,Yenagoa,NG,81.72,light rain,4.9247,6.2642,Aridolf Resort Wellness and Spa
591,Wadena,US,75.24,clear sky,46.4425,-95.1361,Eastwood Inn of Wadena

In [22]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]

In [23]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))